@model Election.Models.Electeur
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<h2 class="alert alert-info">Details</h2>
<div class="container">
    <div class="row">

        <div class="col-sm-8">
            <div>
                <h4>Electeur</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cni)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cni)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.avoter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.avoter)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.candidat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.candidat)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Retour", "Index")
            </p>

        </div>
    </div>
</div>
