@model Election.Models.BureauVote
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Admin">TABLEAU DE BORD</a></li>
                            <li>@Html.ActionLink("Bureau de vote", "Index", "BureauVotes")</li>
                            <li>@Html.ActionLink("Candidat", "Index", "Candidats")</li>
                            <li>@Html.ActionLink("Electeur", "Index", "Electeurs")</li>
                            <li>@Html.ActionLink("Compte", "Index", "Comptes")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>BureauVote</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lieu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lieu)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>
    </div>
</div>
