@model Election.Models.Compte
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2  class="alert alert-info">Details</h2>
<div class="container">
    <div class="row">
        
        <div class="col-sm-8">
            <div>
                <h4>Compte</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.login)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.login)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.password)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
</div>
