@model Election.Models.Candidat
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    ViewBag.Title = "Suppression";
}
<link href="~/Content/Style.css" rel="stylesheet" />

<h2  class="alert alert-danger">Supprimer</h2>
<div class="container">
    <div class="row">
        
        <div class="col-sm-8">
            <h3 class="alert alert">Etes vous sur de vouloir continuer la suppression?</h3>
            <div>
                <h4>Candidat</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.parti)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.parti)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.datenaiss)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.datenaiss)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.photo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.photo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.voix)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.voix)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>
    </div>
</div>
