@model IEnumerable<Election.Models.Candidat>
@{
    Layout = "~/Views/Shared/_admin.cshtml";
}
@{
    ViewBag.Title = "Candidat";
}
<link href="~/Content/Style.css" rel="stylesheet" />

<h2 class="alert alert-info">Candidat</h2>
<div class="container">
    <div class="row">
        
        <div class="col-sm-8">
            <div class="btn btn-default">
                @Html.ActionLink("Nouveau candidat", "Create")
            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.prenom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.parti)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.datenaiss)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.voix)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.parti)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.datenaiss)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.voix)
                        </td>
                        <td>
                            @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
