@model Election.Models.Electeur
@{
    ViewBag.Title = "Election";
}



<div class="container-fluid">
    <h2 class="jumbotron">Election</h2>
    <div class="row">
        <div class="col-md-5">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.cni, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cni, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Soumettre" class="btn btn-primary" />
                        </div>
                        <span class="text-danger">@ViewBag.message</span>

                    </div>
                </div>
            }


            @{
                if (ViewBag.voir == false)
                {
                    <form>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Numero carte d'identite national</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entre votre numero d'identite">
                            <small id="emailHelp" class="form-text text-muted">ce numero est numero unique</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                }

            }



        </div>
        <div class="col-md-7">

           
            <div class="row">
                @{
                    foreach (var item in @ViewBag.electeur)
                    {
                        <h3>@item.prenom @item.nom</h3>
                    }

                    if (ViewBag.voir == true)
                    {
                        <h3>
                            Choix de candidat
                        </h3>
                        foreach (var item in @ViewBag.candidats)
                        {
                            <button class="col-md-3" style="border:2px solid; margin-left:40px;" id="carte">
                                <h4 id="nomcand"> @item.prenom @item.nom</h4>

                                <span>Parti:</span>  <h4>@item.parti</h4>
                                ne le <h4>@item.datenaiss</h4>

                                <input type="radio" name="name" id="choix" />

                                @Html.RadioButton("Gender", "")
                            </button>

                        }

                        <div class="row">
                            <button type="submit" class="btn btn-success" id="vote"><span class="glyphicon glyphicon-folder-close"></span> JE VOTE POUR CE CANDIDAT</button>
                        </div>
                    }


                }
            </div>
           
        </div>
    </div>
</div>

<style>
    h4{
        color:blue;
        font-weight: bold;

    }
    #nomcand{
        border-bottom:3px solid gray;
        text-align: center;
    }
    #vote{
        margin:10px;
        font-size: 24px;
        width: 100%;
    }
    #choix{
        font-size: 30px;
    }
    #carte:hover{
        background-color: springgreen;
    }
</style>