@{
    ViewBag.Title = "Home Page";
}

<div id="home" class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">

            <img src="~/Content/images/vote.jpg" style="width: 100%; height: 170px;" />
        </div>

        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow animate__slideInDown animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                                <h2 class="title1">The Best Business Information </h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow animate__fadeIn animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                                <h1 class="title2">We're In The Business Of Helping You Start Your Business</h1>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow animate__slideInUp animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn right-btn page-scroll" href="#services">See Services</a>
                                <a class="ready-btn page-scroll" href="#about">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- End Slider -->

    <div class="jumbotron">
        <h1>VOTE ELECTRONIQUE</h1>
        <p class="lead">PLATEFORME DE VOTE EN LIGNE ET DE DELIBERATION EN LIVE.</p>
        <p><a href="Home/About" class="btn btn-primary btn-lg">Plus de details &raquo;</a></p>
    </div>
    <h2 id="mytexte">INFORMATION GENERALE</h2>
    <div class="row" id="myrow">
        <div class="col-3">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">NOMBRE D'INSCRIT</h5>
                    <h2></h2>
                       <p>
                           <h1 style="color: blue; font-size: 40px; font-weight: bolder; margin-top:20px;">@ViewBag.electeurs</h1>
                       </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">NOMBRE DE VOIX</h5>
                    <table class="table">
                        <tr>
                            <th>Candidat</th>
                            <th>Voix</th>
                        </tr>
                        @{
                            foreach (var item in @ViewBag.listecand)
                            {
                                <tr>
                                    <td>@item.prenom @item.nom</td>
                                    <td>@item.voix</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">ORDRE PAR PARTI</h5>
                    <table class="table">
                        <tr>
                            <th>Parti</th>
                            <th>Voix</th>
                        </tr>
                        @{
                            foreach (var item in @ViewBag.listecand)
                            {
                                <tr>
                                    <td>@item.parti</td>
                                    <td>@item.voix</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">NOMBRE DE VOTANT</h5>
                    <h2></h2>
                    <p>
                        <h1 style="color: orangered; font-size: 40px; font-weight: bolder; margin-top:20px;">@ViewBag.totalvoix</h1>
                    </p>
                </div>
            </div>
        </div>
</div>
        <h2  id="mytexte">FONCTIONNALITES</h2>

        <div class="row" id="myrow">
            <div class="col-md-4">
                <h2>VOTEZ EN SECURITE</h2>
                <p>
                    Votez en toute securite et en tranquite dans la plafeforme. Assurez vous d'entrer le bon numero de votre carte d'identite national
                </p>
            </div>
            <div class="col-md-4">
                <h2>SUIVRE LES RESULTATS</h2>
                <p>Suivez l'evolution du vote en direct. Les informations sont fiables et sont donnees par la comite de gestion du vote</p>
            </div>
            <div class="col-md-4">
                <h2>Acces Mondial</h2>
                <p>Votez sur place. ElectroVote est accessible partout dans le monde. </p>
            </div>
        </div>
    </div>
</div>

<style>
    #mytexte{
        margin: 25px;
        background-color: cornflowerblue;
        font-weight: bold;
    }
    h5{
        border-bottom: 2px solid blue;
    }
</style>