
@model IEnumerable<Election.Models.Candidat>
@{
    ViewBag.Title = "voter";
}


<div class="container-fluid" id="contain">
    <h2 class="jumbotron">Vote</h2>
    <div class="row">
        <div class="col-md-2">


        </div>
        <div class="col-md-10">


            <div class="row">
                @{

                    //if (ViewBag.voir == true)
                    //{
                    <h3>
                        Choix de candidat
                    </h3>

                    using (@Html.BeginForm())
                    { 
                    @ViewBag.prenom
                    foreach (var item in Model)
                    {
                        <div class="col-md-3" style="border:2px solid; margin-left:40px;" id="carte">
                            <h3>
                                @Html.DisplayFor(modelItem => item.voix)
                                @Html.DisplayFor(modelItem => item.prenom)
                            </h3>
                            <h3 id="nomcand">
                                @Html.DisplayFor(modelItem => item.nom)
                            </h3>

                            <span>Parti:</span>  <h4>@item.parti</h4>
                            ne le <h4>  @Html.DisplayFor(modelItem => item.datenaiss)</h4>


                            <span id="votons" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">

                                @Html.ActionLink("JE VOTE", "voter", new { id = item.Id })
                            </span>
                        </div>

                    }
                }
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                VOTE ENREGISTRE AVEC SUCCES. MERCI DE SUIVRE LES STATISTIQUES A LA PAGE D'ACCUEIL'
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">RETOUR A LA PAGE D'ACCUEIL</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>

        </div>
    </div>
</div>

<style>
    h4 {
        color: blue;
        font-weight: bold;
    }

    #nomcand {
        border-bottom: 3px solid gray;
        text-align: center;
    }

    #vote {
        margin: 10px;
        font-size: 24px;
        width: 100%;
    }

    #choix {
        font-size: 30px;
    }

    #carte:hover {
        background-color: springgreen;
    }
    #carte{
        text-align: center;
    }
    #votons{
        text-decoration: none;
        color: white;
        font-size:24px;
        background-color: darkorange;
    }
    #votons:hover{
        text-decoration: none;
        color: red;
    }
    #contain {
        height: 550px;
    }
</style>