
@model IEnumerable<Election.Models.Candidat>
@{
    ViewBag.Title = "voter";
}


<div class="container-fluid">
    <h2 class="jumbotron">Vote</h2>
    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-8">


            <div class="row">
                @{

//if (ViewBag.voir == true)
//{
                    <h3>
                        Choix de candidat
                    </h3>
                    @ViewBag.message
                    using (@Html.BeginForm())
                                {
                                    foreach (var item in Model)
                                    {
                            <div class="col-md-3" style="border:2px solid; margin-left:40px;" id="carte">
                                <h4 id="nomcand">
                                    @Html.DisplayFor(modelItem => item.prenom)
                                @Html.DisplayFor(modelItem => item.nom)
                            </h4>

                            <span>Parti:</span>  <h4>@item.parti</h4>
                            ne le <h4>  @Html.DisplayFor(modelItem => item.datenaiss)</h4>
                                  <h2>  @Html.RadioButton("candidat", item.Id, true) </h2>
                              
                            </div>
                        }

                    <div class="row">

                        <button type="submit" class="btn btn-success" id="vote"><span class="glyphicon glyphicon-folder-close"></span> JE VOTE POUR CE CANDIDAT</button>
                    </div>
                    }


                }
            </div>

        </div>
    </div>
</div>

<style>
    h4 {
        color: blue;
        font-weight: bold;
    }

    #nomcand {
        border-bottom: 3px solid gray;
        text-align: center;
    }

    #vote {
        margin: 10px;
        font-size: 24px;
        width: 100%;
    }

    #choix {
        font-size: 30px;
    }

    #carte:hover {
        background-color: springgreen;
    }
</style>